:root {
  --titleColor: green;
  --radicalGradient:  radial-gradient(rgb(139, 196, 245),#1294b8);
  --textColor: white;
  --fontsizeText:1.5rem;
  --subtitle:4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-image: radial-gradient(rgb(139, 196, 245),#1294b8);
}

.first-nav {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.first-nav h2 {
  font-size: var(--subtitle);
  font-weight: 700;
  color: var(--textColor);
}

.first-nav ul {
  list-style: none;
  font-size: var(--fontsizeText);
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.first-nav ul li a {
  color: var(--textColor);
  text-decoration: none;
}

.main-nav{
  margin: 0 15rem; 
 }

.main-nav-icons li a:hover {
  opacity: 0.8;
}

.main-nav li a:hover {
  /* color: rgb(206, 196, 196); */
  color: rgb(224, 209, 209);
}

#search {
  display: flex;
  padding: 2rem;
}

.searchbar{
  padding: 4rem 3rem;
  width: 40%;
}

.searchbar h1{
  padding-bottom: 1rem;
  font-size: 5rem;
  line-height: 1.2;
  }

.searchbar p{
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 1.2;
  word-spacing: 0.1rem;
  text-align: left;
}

.logo {  
  width: 60%;
}

.logo img{
  object-fit: cover;
}

.searchbar form {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: white;
  display: flex;
  width: max-content;
  align-items: center;
  
}

.searchbar form input{
  font-size: var(--fontsizeText);
  padding-left: 1rem;
  padding-right: 5rem;
  outline: none;
  border: none;
  background: transparent;
}


.searchbar form button{
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem ;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  background-color:cornflowerblue;
  outline: none;
  border: none;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0 3px #999;
}

.searchbar form button:hover{
  background-color: rgba(100, 149, 237, 0.8);
}

.searchbar form button:active{
  background-color: rgba(100, 149, 237, 0.8);
  box-shadow:0 1.5px #666;
  transform: translateY(2px);
} 
/*NAV DONE*/
 #cards{
  min-height: 40rem;
  background: #ffffff;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
 }


.card{
  background:var(--radicalGradient);
  width: 18rem;
  height: 18rem;
  overflow: hidden;
  border-radius: 1rem;
  margin: 1rem;
  margin-top: 10arem;
}
.card-text{
  padding: 1rem;
  color: var(--textColor);
  font: var(--fontsizeText);
  font-size: small;
  text-align: center;
}

.card-header {
  color: var(--textColor);
  float: center;
  font-size: 5rem;
  text-align: center;
  margin-top: 2rem;
} 


