*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    background: url('../img/BACKGROUND.png');
}    
/* 
.container{
    width: 80%;
    height: 100vh;
    border: 40px solid transparent;
    border-image: url('../img/CANDY.avif') 30 round;
} */
