*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.container{
    width: 800px;
    height: 900px;
    border: 5px solid yellow;
    margin: 15px auto; /*!by using auto u tell the search engine that u want 15px top and bottom and left and right it has to auto adjust, making it center*/ 
    background-color: red;
    display: grid;
    grid-template-columns:  repeat(4, 25%);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
                    "door1 door24 door12 door8"
                    "door9 door5 door21 door4"
                    "door19 door17 door13 door"
                    "door3 door6 door23 door18"
                    "door11 door14 door15 door2"
                    "door10 door7 door16 door22"
                    ;
}