#board{
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: rgb(212, 250, 76);
    font-size: 3em;
    text-align: center;
    line-height: 75px;
    margin: 5px;
    animation: appear 1s; /*? what is this */
    border-radius: 6px;
}

.box-clicked{
    background-color: #ccc;
    color: #aaa;
}

@keyframes appear {
        from{
            transform: scale(0) rotate(180deg);
        }
        to{
            transform: scale(1) rotate(0deg);
        }
}